{% extends "base.html" %}

{% block content %}
    <h1>Account</h1>
    <p>User ID: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.firstname }}</p>
    <p>Last Name: {{ user.lastname }}</p>
    <p>Phone Number: {{ user.phone }}</p>
    <div class="p-2 row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="p-2 bg-light border border-primary" style="text-align: left">
            {% for post in user.posts %}
                <div class="card border border-dark">
                    <div class="card-header bg-dark text-white border border-dark">
                        <h4>{{ user.decrypt(post.title) }}</h4>
                        <small>{{ post.created.strftime('%H:%M:%S %d-%m-%Y') }}</small>
                    </div>
                    <div class="card-body">{{ user.decrypt(post.body) }}</div>
                    <div class="card-footer">
                        <a class="navbar-item" href="{{ url_for('posts.update', id=post.id) }}">Update</a>
                        <a class="navbar-item" href="{{ url_for('posts.delete', id=post.id) }}">Delete</a>
                    </div>
                </div>
                <br>
            {% endfor %}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}